@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0; 
    padding: 0;
}

* {
    --primary-color: #e1c36d;
}